<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>Title</title>
</head>
<body>
<header class="page-header">
    <h1 class="page-title">
        <ion-icon name="caret-forward-outline"></ion-icon>
        Lentopeli
        <ion-icon name="caret-back-outline"></ion-icon>
    </h1>

    <!-- Buttonit --->
    <nav>
        <ul class="flex-wrap space-evenly">
            <li>
                <a class="button button-white" href="/game">Flight Game</a>
            </li>
            <li>
                <a class="button button-white" href="/info">Info</a>
            </li>
        </ul>
    </nav>

</header>
<h1 class="tyforplaying">Thanks for playing Flight Game</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet aut cupiditate deserunt distinctio dolore esse et,
    eum ex fuga impedit minus nulla numquam, provident, quisquam sed sunt tempore voluptas!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet aut cupiditate deserunt distinctio dolore esse et,
    eum ex fuga impedit minus nulla numquam, provident, quisquam sed sunt tempore voluptas!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet aut cupiditate deserunt distinctio dolore esse et,
    eum ex fuga impedit minus nulla numquam, provident, quisquam sed sunt tempore voluptas!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet aut cupiditate deserunt distinctio dolore esse et,
    eum ex fuga impedit minus nulla numquam, provident, quisquam sed sunt tempore voluptas!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet aut cupiditate deserunt distinctio dolore esse et,
    eum ex fuga impedit minus nulla numquam, provident, quisquam sed sunt tempore voluptas!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet aut cupiditate deserunt distinctio dolore esse et,
    eum ex fuga impedit minus nulla numquam, provident, quisquam sed sunt tempore voluptas!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet aut cupiditate deserunt distinctio dolore esse et,
    eum ex fuga impedit minus nulla numquam, provident, quisquam sed sunt tempore voluptas!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet aut cupiditate deserunt distinctio dolore esse et,
    eum ex fuga impedit minus nulla numquam, provident, quisquam sed sunt tempore voluptas!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet aut cupiditate deserunt distinctio dolore esse et,
    eum ex fuga impedit minus nulla numquam, provident, quisquam sed sunt tempore voluptas!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad amet aut cupiditate deserunt distinctio dolore esse et,
    eum ex fuga impedit minus nulla numquam, provident, quisquam sed sunt tempore voluptas!</p>

<footer class="page-footer">
    <p>Flight game by Tomi and Benjamin</p>
</footer>


</body>
</html>